html{
    font-family: 'Montserrat',sans-serif;
    
}
#container{
    width: 1000px;
    margin: 0 auto;
}
/* begin header */
#header{
    display: flex;
   
}
#header #header_left{
    width: 300px;
    text-align: center;
}
/* #header #header_left h1{
    text-align: center;
} */
#header #header_left img{
    width: 200px;
}
#header #header_right{

}
#header #header_right img{
    width: 800px;
    height: 200px;
}
/* end header */
/* begin nav */
#nav{
    
}
#nav>ul{  
    display: flex;
    list-style: none;
    line-height: 50px;
    background-color: aqua;
    margin: 0 auto;
}
#nav>ul>li{
    padding: 0 20px;
    position: relative;
    width: 130px;
    text-align: center;
}
#nav>ul>li:first-child{
    margin-left: 245px;
}
#nav>ul>li:hover{
    background-color: #ccc;
}
#nav>ul>li:hover .subnav{
    display: block;
    background-color: aqua;  
}
#nav .subnav{
    display: none;
    list-style: none;
    position: absolute;
    left: 0px;
    padding-left: 0px;
}
#nav .subnav>li:hover{
    background-color: #ccc;
    color: #fff;
}
#nav .subnav>li{
    height: 50px;
    text-align: center;
    width: 170px;
}
#nav .subnav li:hover .subnav2{
    display: block;
}
#nav .subnav .subnav2{
    display: none;
    list-style: none;
    position: absolute;
    top: 50px;
    left: 170px;
    background-color: aqua;
    padding-left: 0px;
}
#nav .subnav .subnav2 li{
    width: 170px;
}
#nav .subnav .subnav2 li a{
    text-decoration: none;
    color: black;
}
#nav .subnav .subnav2 li:hover{
    background-color: #ccc;
}
#nav .subnav .subnav2 li:hover a{
    color: #fff;
}
/* end nav */
/* begin content */

#content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin-top: 20px;
    height: 1000px;
}
#content #sidebar{
    background-color: #e6e6e6;
    padding: 20px;
    text-align: center;
}
#content #main-content{
    background-color: #fff;
    padding: 20px;
}
/* end content */
/* begin footer */
#footer{

}
#footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
/* end footer */